.idea
certs
node_modules
api/node_modules
.env
client/node_modules
client/.nuxt
client/.env
client/static/sw.js
.DS_Store

# STRAPI STUFF STARTS HERE
############################
# OS X
############################

app/.DS_Store
app/.AppleDouble
app/.LSOverride
app/Icon
app/.Spotlight-V100
app/.Trashes
app/._*


############################
# Linux
############################

app/*~


############################
# Windows
############################

app/Thumbs.db
app/ehthumbs.db
app/Desktop.ini
app/$RECYCLE.BIN/
app/*.cab
app/*.msi
app/*.msm
app/*.msp


############################
# Packages
############################

app/*.7z
app/*.csv
app/*.dat
app/*.dmg
app/*.gz
app/*.iso
app/*.jar
app/*.rar
app/*.tar
app/*.zip
app/*.com
app/*.class
app/*.dll
app/*.exe
app/*.o
app/*.seed
app/*.so
app/*.swo
app/*.swp
app/*.swn
app/*.swm
app/*.out
app/*.pid


############################
# Logs and databases
############################

app/.tmp
app/*.log
app/*.sql
app/*.sqlite
app/*.sqlite3


############################
# Misc.
############################

app/*#
app/ssl
app/.idea
app/nbproject
app/public/uploads/*
app/!public/uploads/.gitkeep

############################
# Node.js
############################

app/lib-cov
app/lcov.info
app/pids
app/logs
app/results
app/node_modules
app/.node_history

############################
# Tests
############################

app/testApp
app/coverage

############################
# Strapi
############################

app/.env
app/license.txt
app/exports
app/*.cache
app/build
app/.strapi-updater.json
